.field-group {
  margin: 0;
  padding: 0;

  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  border: none;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }

  @media (min-width: $desktop-width) {
    font-size: 20px;
    line-height: 30px;
  }
}

.field-group__title {
  margin: 0 0 35px 0;
  font-size: 24px;
  line-height: 26px;
  font-weight: 400;
  text-transform: none;

  z-index: 1;

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
  }

  @media (min-width: $desktop-width) {
    font-size: 36px;
    line-height: 36px;
  }

  span {
    background-color: $color-default-white;
    padding: 0 20px 0 20px;
    margin: 0 -20px 0 -20px;
    display: inline-flex;
  }
}

.field-group__title::before {
  content: "";
  position: absolute;
  display: block;
  top: 16px;
  left: -100vw;
  width: 200vw;
  height: 2px;
  background-color: $color-apple;
  z-index: -1;

  @media (min-width: $desktop-width) {
    top: 20px;
  }
}

.field-group__title--owner-contacts {
  margin: 26px 0 35px 0;
  position: relative;

  span {
    max-width: 222px;
  }

  @media (min-width: $tablet-width) {
    margin: 71px 0 76px 0;

    span {
      max-width: 100%;
    }
  }

  @media (min-width: $desktop-width) {
    margin: 69px 0 76px 0;

    span {
      max-width: 100%;
    }
  }
}

.field-group__title--comment {
  margin: 0 0 37px 0;
  position: relative;

  @media (min-width: $tablet-width) {
    margin: 0 0 76px 0;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 76px 0;
  }
}

.field-group__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.field-group__list--cat {
  padding: 0 0 24px 0;
  border-bottom: 1px solid $color-gainsboro;
  display: grid;
  gap: 14px;

  @media (min-width: $tablet-width) {
    padding: 0 0 72px 0;
    border: none;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
    border: none;
  }
}

.field-group__list--radio {
  color: $color-nero;
  padding: 22px 0 19px 0;
  display: grid;
  gap: 13px;
  border-bottom: 1px solid $color-gainsboro;

  @media (min-width: $tablet-width) {
    border: 1px solid $color-whisper-4;
    padding: 25px 25px 29px 28px;
  }

  @media (min-width: $desktop-width) {
    padding: 30px 25px 30px 28px;
  }
}

.field-group__list--additional-options {
  display: grid;
  gap: 13px;
  margin: 0 0 34px 0;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 32px 61px;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
}

.field-group__list--owner-contacts {
  padding: 0 0 23px 0;
  display: grid;
  gap: 14px;

  @media (min-width: $tablet-width) {
    gap: 20px;
    padding: 0 0 65px 0;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 1fr 1fr;
    gap: 78px;
    padding: 0 0 67px 0;
  }
}

.field-group__item {
  margin: 0;
  display: flex;
  align-items: center;
  min-height: 30px;
}

.field-group__form-label {
  color: $color-charcoal;
  margin: 0 13px 0 0;
}

.field-group__control {
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 45px;
}

.field-group__control-input {
  position: absolute;
  width: 30px;
  height: 30px;
  border: 1px solid $color-very-light-grey;
  border-radius: 4px;
}

.field-group__control-mark {
  position: absolute;
  left: 0;
  width: 30px;
  height: 30px;
  background-color: $color-default-white;
  border: 1px solid $color-very-light-grey;
  border-radius: 50%;
}

.field-group__control-input[type="radio"]:checked + .field-group__control-mark::before {
  position: absolute;
  top: 7.5px;
  left: 7.5px;
  width: 13px;
  height: 13px;
  background-color: $color-apple;
  border-radius: 50%;
  content: "";
}

.field-group__control-input[type="checkbox"] + .field-group__control-mark {
  border-radius: 0;
}

.field-group__control-input[type="checkbox"]:checked + .field-group__control-mark::before {
  position: absolute;
  background-image: url("../img/icons/icon-checkbox.svg");
  width: 18px;
  height: 14px;
  top: 25%;
  left: 17%;
  content: "";
}

.field-group__control-label {
  align-self: center;
}

.field-group--additional-options {
  padding: 22px 0 0 0;

  @media (min-width: $tablet-width) {
    padding: 65px 0 0 0;
  }

  @media (min-width: $desktop-width) {
    padding: 67px 0 0 0;
  }
}

.field-group__title--additional-options {
  position: relative;

  @media (min-width: $desktop-width) {
    padding: 0 0 57px 0;
  }
}

.field-group__control--additional-options {
  padding-left: 46px;
}
