.intro-wrapper {
  overflow: hidden;
  position: relative;
  z-index: 1;
}

@media (min-width: $desktop-width) {
  .intro-wrapper::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    background-color: rgba($color-apple, 0.7);
    z-index: -1;
  }

  .intro-wrapper::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    background-image: url("../img/backgrounds/program-selection-background.jpg");
    background-size: cover;
    background-position: left;
    background-repeat: no-repeat;
    z-index: -2;
  }
}
