.program-selection {
  padding: 0 0 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;

  picture {
    z-index: 1;
  }

  @media (min-width: $tablet-width) {
    background-image: none;
    padding: 62px 150px 0 90px;
  }

  @media (min-width: $desktop-width) {
    padding: 114px 300px 185px 80px;
    flex-direction: row;
  }
}

.program-selection__wrapper {
  position: relative;
  display: block;
  margin: 0;

  text-align: center;
  z-index: 1;
  width: 100%;

  @media (min-width: $tablet-width) {
    z-index: 3;
  }

  @media (min-width: $desktop-width) {
    width: 50%;
  }
}

.program-selection__wrapper::before {
  content: "";
  position: absolute;
  top: 0;
  left: -20px;
  width: 100vw;
  height: 100%;
  background-color: rgba($color-apple, 0.7);
  z-index: -1;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.program-selection__wrapper::after {
  content: "";
  position: absolute;
  top: 0;
  left: -20px;
  width: 100vw;
  height: 100%;
  background-image: url("../img/backgrounds/program-selection-background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -2;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.program-selection__title {
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  color: $color-default-white;

  @media (min-width: $tablet-width) {
    color: $color-default-black;
    text-align: left;
    font-size: 60px;
    line-height: 60px;
    margin: 0 0 41px 0;
  }

  @media (min-width: $desktop-width) {
    color: $color-default-black;
    text-align: left;
    font-size: 60px;
    line-height: 60px;
    margin: 0 0 40px 0;
  }
}

.program-selection__slogan {
  font-size: 14px;
  line-height: 14px;
  color: $color-default-white;
  text-transform: uppercase;
  margin: 0 0 164px 0;

  @media (min-width: $tablet-width) {
    color: $color-default-black;
    text-align: left;
    font-size: 20px;
    line-height: 20px;
    margin: 0 0 49px 0;
  }

  @media (min-width: $desktop-width) {
    color: $color-default-black;
    text-align: left;
    font-size: 20px;
    line-height: 20px;
    margin: 0 0 52px 0;
  }
}

.program-selection__button {
  transform: translateY(150px);

  @media (min-width: $tablet-width) {
    transform: none;
  }
}

.program-selection__image {
  z-index: 2;
  transform: translateY(-150px);
  margin-bottom: -120px;

  @media (min-width: $tablet-width) {
    transform: translateY(-82px);
    width: 709px;
    height: 609px;
  }

  @media (min-width: $desktop-width) {
    width: 552px;
    height: 499px;
  }
}
